/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <https://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <https://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("reset.css");

/* article memento-mori */
@import url("app.memento.css");

html{
	height: 100%;
}
/***** Global *****/
/* Body */
body {
	height: 100%;
    background: black;
    color: #000305;
    /* font-size: 87.5%; Base font size: 14px */
	font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

a {
	color: black;
}

#banner{
	text-align: center;
	min-width: 375px;
	border-right: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	user-select: none;
}
#banner img{
	height: 125px;
	/* top | right | bottom | left */
}

#left{
	min-width: 500px;
}

#left p{
	padding-left: 5px;
	padding-right: 5px;
}

#right{
	width: 100%;
}

#right img{
	/* size of its container */
	width: 100%;
}

@media screen and (min-width: 501px) {
	body{
		font-size: 18x;
	}
}

@media screen and (min-width:1200px) {
    #right {
		width: 100%;	
    }
	.entry-content{
		display: flex;
		flex-direction: row;
		max-width: 100%;
	}
} 


/*
	Body
*****************/
#content {
	background: #fff;
	font-size: 0.8em;
}

/* post/entry content in this */
.entry-content{
}

.onearticle-post-info {
	background-color: black;
	color: white;
	text-align: right;

}
.onearticle-post-info a{
	margin-right: 10px;
	color: white;
}

.article-listed{
	margin: 10px
}

/* article info (post-info) in list view (index, categorie)  */
.post-info{
	margin-right: 10px;
}

/*
	Footer
*****************/
#sitefooter{
	background-color: black;
}

#menu{
	display: flex;
	flex-direction: row;
	text-align: right;
	color: wheat;
	
}

#menu a{
	display: block;
	margin: 10px 7px;
	padding: 4px;
	border-top: 2px solid white;
	color: white;
	text-decoration: none;
	user-select: none;
}


#menu a.active, #menu a:hover {
	color: black;
	background-color: white;
}

#sitefooter #about{
	display: block;
	text-align: right;
}