{% extends "base.html" %}
{% block content %}
<section id="content">
{% if page_name=="index" %}
    <!-- dates list articles by descending order
    so dates[0] is the last_article -->
    {% set last_article=dates[0]%}
    {% set year=last_article.date.year %}
    {% set month=last_article.date.month %}
    <!-- Then we find the categorie in wich the last article is
    and print its articles the same way as in this category -->
    {% for categorie, articles in categories%}
        {% if articles[0].date.month == month and articles[0].date.year == year %}
            <ul id="post-list">
            {% for article in articles %}
                    <li><article class="article-listed">
                        <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                        <footer class="post-info">
                            <!-- <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> -->
                            <address class="vcard author">Par
                            {% for author in article.authors %}
                                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                            </address>
                        </footer><!-- /.post-info -->
                        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                    </article></li>
                    {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% else %}
    {% block content_title %}
    <h2>All articles</h2>
    {% endblock %}
    <ul id="post-list">
    {% for article in articles_page.object_list %}
        <li><article class="article-listed">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <!-- <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> -->
                    <address class="vcard author">Par
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
    {% endfor %}
{% endif%}
</ul><!-- /#posts-list -->

<!-- {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %} -->
</section><!-- /#content -->
{% endblock content %}
